@use "partials/vars";
@use "partials/mixins";

body {
    background-color: vars.$bg-color;

    img {
        transform: scaleY(-1);
        width: auto;
        height: auto;
        display: block;
    }

    h1 {
        color: vars.$h1-color;
        @include mixins.flexible();

        &:hover {
            color: blue;
        }

        ;
    }
}