@use "partials/vars";
@use "partials/mixins";

body {
    background-color: vars.$bg-color;

    h1 {
        color: vars.$h1-color;
        @include mixins.flexible();

        &:hover {
            color: blue;
        }

        ;
    }
}

img {
    @include mixins.defaultBorder();
}

@import url(https://fonts.googleapis.com/css?family=Roboto:900);
$button-width:150px;
$button-height:65px;
$button-color:#38434A;
$button-font-size: 1.9em;

$bulb-width:212px;
$bulb-height:190px;
$bulb-color:lighten(crimson, 5%);
$bulb-font-size: 1.9em;

$light-color:#FFDB55;
$streak-vert-space:65px; //vertical spacing between streaks
$streak-horizontal-offset:5px; //initial offset
$streak-distance:80px; //distance moved by streaks
$streak-stagger: 15px; //distance between center and edge streaks

$streak-rotation:34deg;
$streak-height:11px;
$streak-width: 50px;

$speed:0.38s;
$timing-function:ease-out;
$speed-of-light:.14s;
$animation-delay: $speed-of-light;

body,
html {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

body {
    background: darken(#E2ECF1, 15%);
    transition: all $speed-of-light ease-in;
}

body.active {
    background: lighten(#E2ECF1, 5%);
}

.container {
    margin: auto;
    width: $bulb-width;
}

.power {
    margin: auto;
    margin-top: 20px;
    background: $button-color;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-family: Roboto;
    font-size: $button-font-size;
    height: $button-height;
    letter-spacing: .2px;
    line-height: $button-height;
    text-align: center;
    user-select: none;
    width: $button-width;
    transition: none;


    &:hover {
        background: lighten($button-color, 4%);
    }

    &:active {
        box-shadow: inset 0px 4px 10px 0px darken($button-color, 5%);
        transition: background $speed-of-light ease-in;

    }

    .active & {
        background: #58C48D;

        &:active {
            box-shadow: inset 0px 6px 8px -1px darken(#58C48D, 7%);
        }
    }
}

#on {
    transform: translate(50%, 50%) scale(0);
    opacity: 0;

    .active & {
        opacity: 1;
        transform: translate(0) scale(1);
        transition: all $speed-of-light ease-in;
    }
}

.fancy-bulb {
    position: relative;
}

.streaks,
.streaks:after,
.streaks:before {
    position: absolute;
    background: $light-color;
    border-radius: ($streak-height/2);
    height: $streak-height;
}

.streaks:after,
.streaks:before {
    content: "";
    display: block;
}

.streaks:before {
    bottom: $streak-vert-space;
}

.streaks:after {
    top: $streak-vert-space;
}

.left-streaks {
    right: $bulb-width + $streak-horizontal-offset;
    top: ($bulb-height/2)-($streak-height/2);

    .active & {

        animation: move-left $speed $timing-function, width-to-zero $speed $timing-function;
        animation-delay: $animation-delay;

    }

    &:before,
    &:after {
        left: $streak-stagger;

    }

    &:before {
        .active & {

            animation: width-to-zero $speed $timing-function, move-up $speed $timing-function;
            animation-delay: $animation-delay;

        }
    }

    &:after {
        .active & {

            animation: width-to-zero $speed $timing-function, move-down $speed $timing-function;
            animation-delay: $animation-delay;
        }
    }

}

.right-streaks {
    left: $bulb-width + $streak-horizontal-offset;
    top: ($bulb-height/2)-($streak-height/2);

    .active & {

        animation: move-right $speed $timing-function, width-to-zero $speed $timing-function;
        animation-delay: $animation-delay;
    }

    &:before,
    &:after {
        right: $streak-stagger;
    }

    &:before {
        .active & {

            animation: width-to-zero $speed $timing-function, move-up $speed $timing-function;
            animation-delay: $animation-delay;
        }
    }

    &:after {
        .active & {

            animation: width-to-zero $speed $timing-function, move-down $speed $timing-function;
            animation-delay: $animation-delay;
        }
    }
}

.left-streaks:before,
.right-streaks:after {
    transform: rotate($streak-rotation)
}

.left-streaks:after,
.right-streaks:before {
    transform: rotate(- $streak-rotation);
}

@keyframes move-left {
    0% {
        transform: none;
    }

    65% {
        transform: translateX(-1*$streak-distance);
    }

    100% {
        transform: translateX(-1*$streak-distance);
    }
}

@keyframes move-right {
    0% {
        transform: none;
    }

    65% {
        transform: translateX($streak-distance);
    }

    100% {
        transform: translateX($streak-distance);
    }
}

@keyframes width-to-zero {
    0% {
        width: $streak-width;
    }

    100% {
        width: $streak-height;
    }
}

@keyframes move-up {
    0% {}

    100% {
        bottom: $streak-vert-space*1.55;
    }
}

@keyframes move-down {
    0% {}

    100% {
        top: $streak-vert-space*1.55;
    }
}