@use "partials/vars";
@use "partials/mixins";

/* 
svg {
    transform: scaleY(-1);
} */

//maybe select this one more specific, cause its affecting the cls1 inside the timeline.
/* .cls-1,
.outline {
    stroke: white;
    fill: transparent;
} */

/*     stroke-dasharray: 200;
    stroke-dashoffset: 250;
    animation: dash 2s linear alternate forwards;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
} */

//Timeline Box: hide the external svg
.hiddenBox {
  display: none;
}

#mainSvg {
  background-color: white;
}

//this are the bullets in the timeline:
#bullets ellipse {
  rx: 15;
  ry: 15;
  fill: yellow;
}

//this is the ENTIRE timeline:
//lets transform it into a big yellow/blue? neon
#timeline .cls-1 {
  stroke: #e91e63;
}
