html {
  height: 100%;
}
body {
  font-family: "Lovely Home", sans-serif;
}
#container {
  background: url(imgs/Bricks.jpg);
}
#timeline {
  width: 800px;
  height: 100vh;
  position: relative;
}
#mainSvg,
#infoBoxSvg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
#infoBoxSvg {
  z-index: 10;
}
